body{
    margin: 300px auto;
    width: 300px;
}
voting{

    margin:  0 auto;
}
.btn{
    background: white;
    border: none;
}
.like{
    background: white;

}
.like:active{
    transform: scale(1.1);
}
input{
    width: 50px;
    border: none;
    pointer-events: none;
}